{% extends 'base.html.twig' %}

{% block title %}Edit BookEdition{% endblock %}

{% block body %}
    <h1>Edit BookEdition</h1>

    {{ include('book_edition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_book_edition_index') }}">back to list</a>

    {{ include('book_edition/_delete_form.html.twig') }}
{% endblock %}
